# SSH Config File (template)

# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

## Optional: Gitpod Flex integration
Include "code_gitpod_flex.d/config"

## Example host
Host <your-hostname>
  HostName <your-hostname>
  User $USER

Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

