### https://raw.github.com/github/gitignore/master/Global/osx.gitignore

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
homebrew/Brewfile.lock.json
# Local configs (not for public)
aws/.aws/config
git/.gitconfig_local
git/.gitconfig_personal
git/.gitconfig_work
.claude/settings.local.json
.claude/scheduled_tasks.lock
agents/.claude/settings.json
.install-apps.log
_site/

/.quarto/
**/*.quarto_ipynb
__pycache__/
